# Programming Assignment # 4 Clustering

## Student Details

Group members name with ID:-

--> Everyone should make sure to follow all the instructions given in the assignment, Marks would be deducted if not.

--> Any cheating including plagarism, Will be reported to the corresponding UTA's instance.

--> DO NOT FORGET TO CITE YOUR REFERENCES.

--> Make sure to explain each of your work.

**DO NOT DELETE THIS CELL**

Submission Instructions:-

--> Create a folder and name it 'lastname_firstname_yourNetId_PA4'

--> Rename the submission file as 'lastname_firstname_yourNetId_PA4.ipynb'

--> Zip the fodler and submit it to canvas. Submission folder should be 'lastname_firstname_yourNetId_PA4.ZIP'

## Assignment Details

In this assignment you will learn about cluster using K-means clustering and Hierarchical Agglomerative clustering for predicted and actual values.

Each team will have a total of 3 .ipynb file. Each member will work on a different dataset.csv


You have 3 dataset files:-
1)DataSet_1

2)DataSet_2

3)DataSet_3

REPORT:

Make a 4-5 minutes video to explain what you have done and what did you learn from it. - 10 points

In [ ]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

## Required Python Packages

In [ ]:
# Import required Python packages here
#Seaborn,numpy,pandas,sklearn,matplotlib only

## TASK 1: K-Means Clustering

### Task 1-a: Determine “k” value from the elbow method

In this task, you will be using the elbow method to determine the optimal number of clusters for k-means clustering.

For this task, you need to perform the elbow method for k from 1 to 10 and plot a line chart of the SSE for each value of k, and determine the best k (the number of clusters). Note that you need to use the whole dataset in this task and you need to print your decision for k.

In [1]:
# Reading file
import pandas as pd


# Reading the dataset
df = pd.read_csv('/content/DataSet_1.csv')


# First step converting string to numeric
from sklearn.preprocessing import LabelEncoder


from sklearn.preprocessing import OrdinalEncoder
# define ordinal encoding
encoder = OrdinalEncoder()


# Label encoder to convert string into binary for computations
labelencoder_y=LabelEncoder()


# Our Y column target attribute
y = df['Class']
y = labelencoder_y.fit_transform(y)
print(y)


# Our X column features 
X=df.drop(["Class"],axis=1)


# Converting columns into numeric through label encoder or manual a['GENDER']=a['GENDER'].replace({'M':0,'F':1})
strings  =  X.select_dtypes('object')
for i in strings.columns:
    X[i] = encoder.fit_transform(X[i].to_numpy().reshape(-1,1))



X

[0 0 0 ... 1 0 0]

,Age,WorkClass,Fnlwght,Education,EducationNumber,MaritalStatus,Occupation,Relationship,Race,Sex,CapitalGain,CapitalLoss,HoursPerWeek,NativeCountry
0,39,6.0,77516,9.0,13,4.0,1.0,1.0,4.0,1.0,2174,0,40,37.0
1,50,5.0,83311,9.0,13,2.0,4.0,0.0,4.0,1.0,0,0,13,37.0
2,38,3.0,215646,11.0,9,0.0,6.0,1.0,4.0,1.0,0,0,40,37.0
3,53,3.0,234721,1.0,7,2.0,6.0,0.0,2.0,1.0,0,0,40,37.0
4,28,3.0,338409,9.0,13,2.0,10.0,5.0,2.0,0.0,0,0,40,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,43,3.0,222971,4.0,3,4.0,7.0,4.0,4.0,0.0,0,0,40,24.0
4996,31,3.0,259425,11.0,9,2.0,3.0,0.0,4.0,1.0,0,0,40,37.0
4997,47,4.0,212120,11.0,9,2.0,3.0,0.0,4.0,1.0,0,0,40,37.0
4998,26,3.0,245880,11.0,9,4.0,1.0,1.0,4.0,1.0,0,0,60,37.0
4999,58,2.0,54947,15.0,10,4.0,10.0,1.0,4.0,0.0,0,0,55,37.0

In [2]:
# Handling missing values like nan
from sklearn.impute import SimpleImputer
import numpy as np

imputer = SimpleImputer(missing_values=np.nan,
    strategy='mean',verbose=0)

imputer.fit(X)

X = imputer.transform(X)

print(X)

[[3.90000e+01 6.00000e+00 7.75160e+04 ... 0.00000e+00 4.00000e+01
  3.70000e+01]
 [5.00000e+01 5.00000e+00 8.33110e+04 ... 0.00000e+00 1.30000e+01
  3.70000e+01]
 [3.80000e+01 3.00000e+00 2.15646e+05 ... 0.00000e+00 4.00000e+01
  3.70000e+01]
 ...
 [4.70000e+01 4.00000e+00 2.12120e+05 ... 0.00000e+00 4.00000e+01
  3.70000e+01]
 [2.60000e+01 3.00000e+00 2.45880e+05 ... 0.00000e+00 6.00000e+01
  3.70000e+01]
 [5.80000e+01 2.00000e+00 5.49470e+04 ... 0.00000e+00 5.50000e+01
  3.70000e+01]]

In [ ]:
#########################begin code for Task 1-a - 10 Points

    

## Describe which is the optimal value for K and explain why you choose it as the optimal value

### Task 1-b: Visualization for K-Means Clustering

--> Performing k-means clustering for k=3,4,5 and visualize the predicted training samples and actual training samples on scatter plots. 

--> Use 75% of the dataset for training and 25% of the dataset for testing. Perform kmeans for clustering samples in your training set. 

--> Visualize predicted training samples and actual training samples on two scatter plots.Since your dataset has multiple features(dimensions), you won't be able to plot your data on a scatter plot. Thus, you’re going to visualize your data with the help of one of the Dimensionality Reduction techniques, namely Principal Component Analysis (PCA.You can easily apply PCA to your data with the help of scikit-learn.

In [ ]:
###################begin code for Task 1-b-1: Split the datasetand set the random_state as 2021 without fail - 5 points

### Important!!!

###################end code for Task 1-b-1

In [ ]:

####Task 1-b-2: Visualize the predicted training labels vs actual training labels - 10 points
# Import PCA
from sklearn.decomposition import PCA


# Create the KMeans model

# Compute cluster centers and predict cluster index for each sample 

# Model and fit the data to the PCA model
X_train_pca = None

# Visualize the predicted training labels vs actual training labels. 
### scatter(x, y, your_data)


## Visualize using K=3,4,5 as well

#####end Task 1-b-2

In [ ]:
#### Task 1-b-3: Visualize the predicted testing labels vs actual testing labels - 10 Points


# predict cluster index for each sample 

# Model and fit the data to the PCA model


# Visualize the predicted testing labels vs actual testing labels. 
### scatter(x, y, your_data)



####end Task 1-b-3

In [ ]:
######Task 1-b-4: you need to provide the evaluation of your clustering model. 
#Print out a 2D confusion matrix and Print out a 2-D confusion matrix for all K values calculated above - 05 Points

######end Task 1-b-4

## Task 2-a: Find the best Hierarchical Agglomerative Clustering Model

--> Perform Hierarchical Agglomerative clustering with different linkage methods for complete and average and different similarity measures for cosine, euclidean, and manhattan

--> Use F1 score for evaluation by taking number of clusters as 2.

In [ ]:
###################begin code for Task 2-a: Print out a confusion matrix - 20 Points
# Import AgglomerativeClustering
from sklearn.cluster import AgglomerativeClustering
# Import pairwise_distances for calculating pairwise distance matrix
from sklearn.metrics.pairwise import pairwise_distances
# Import f1_score
from sklearn.metrics import f1_score


## Calculate pairwise distance matrix for X_train
pdm_train = None

## Model and fit the training data to the AgglomerativeClustering model
## complete for each linkage methods and for each similarity measures.


## Print the 2-D confusion matrix with different linkage methods (complete and average) and different similarity measures (cosine, euclidean, and manhattan) 
##To find the best pair of linkage method and similarity measure. 

print("F1-score for complete linkage + cosine", None)
print("F1-score for complete linkage + euclidean", None)
print("F1-score for complete linkage + manhattan", None)
print("F1-score for average linkage + cosine", None)
print("F1-score for average linkage + euclidean", None)
print("F1-score for average linkage + manhattan", None)

###################end code for Task 2-a

F1-score for complete linkage + cosine None
F1-score for complete linkage + euclidean None
F1-score for complete linkage + manhattan None
F1-score for average linkage + cosine None
F1-score for average linkage + euclidean None
F1-score for average linkage + manhattan None

## Task 2-b:  Visualization for Hierarchical Agglomerative Clustering

--> Use the best model from above and use to visualize predicted and actual trianing samples on scatter plot. Use Pca model from X_train_pca from Task 1-b-2.

In [ ]:
###################begin code for Task 2-b: Visualize the predicted training labels vs actual training labels - 10 Points



# Visualize the predicted training labels versus actual training labels. 

###################end code for Task 2-b

# TASK 3:  Compare K-Means Clustering and Hierarchical Agglomerative Clustering

--> Task 3-1 Visualize Clusters :- In this task, use whole dataset for training k-means cluster and hierarchical agglomerative clustering. Use the best model for agglomerative clustering. 

--> Visualize the predicted labels from k-means clustering and agglomerative clustering versus actual labels. Basically, you need to plot three scatter plots as subplots. Use number cluster = 2 for below example

In [ ]:
#####Task 3-1: Visualize the predicted training labels vs actual training labels - 10 Points

### Kmeans Clustering
# Model and fit the data to the Kmeans (use fit_predict : Performs clustering on X and returns cluster labels.)


### Agglomerative Clustering
# Calculate pairwise distance matrix for X

# Model and fit the data to the Agglomerative (use fit_predict : Performs clustering on X and returns cluster labels.)


### Visualize Clusters
#  Model and fit the data to the PCA model
X_pca = None

# Visualize the predicted Kmeans labels versus  the predicted Agglomerative labels versus Actual labels. 




######end Task 3-1

## Task 3-b: Compare K-Means Clustering &  Hierarchical Agglomerative Clustering

Print out 2D confusion matrices for kmeans and agglomerative clustering. Also, compare precision, recall, and F1-score for both model in at least 3-4 lines. Type your reasoning.

In [ ]:
######Task 3-b  - 10 Points
 






######end Task 3-b